Flask==1.1.1
Flask-JWT==0.3.2
Flask-Script==2.0.6
Flask-Cors==3.0.8
Flask-Migrate==2.5.2
Flask-SQLAlchemy==2.4.1
GeoAlchemy2==0.6.3
SQLAlchemy[postgresql]==1.3.13
git+https://github.com/brazil-data-cube/bdc-db@b-0.2
git+https://github.com/brazil-data-cube/stac.py@v0.8.0-0
psycopg2-binary==2.8.4
cerberus==1.3.1
boto3==1.11.12
botocore==1.13.43
numpy==1.18.0
rasterio==1.1.2
requests==2.22.0
numpngw==0.0.8
scipy==1.4.1
python-dateutil>=2.8,<3
flask-redoc==0.1.0